<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button>Plataforma de Estudiantes</a>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="test">
  <mat-sidenav #sidenav fxLayout="column" mode="side" opened="true">
    <div fxLayout="column">
      <a mat-button [routerLink]="'alumnos'">Alumnos</a>
      <a mat-button [routerLink]="'cursos'">Cursos</a>
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<router-outlet></router-outlet>
