<div class="content-center">
  <h1 class="text-center font-weight-bold" [appResaltado]="'#E8FF3C'">
    {{ title }}
  </h1>
  <form
    [formGroup]="formContacto"
    (ngSubmit)="addAlumno(this.formContacto.value)"
  >
    <!-- Name Group-->
    <div class="form-group">
      <label class="form-label">Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Name"
        formControlName="name"
        #txtName
        [ngClass]="formContacto.get('name')?.errors?.['required']  || formContacto.get('name')?.errors?.['minlength']? 'is-invalid':'is-valid'"
      />
      <p
        *ngIf="formContacto.get('name')?.errors?.['required']"
        class="invalid-feedback"
      >
        Name input is required
      </p>
      <p
        *ngIf="formContacto.get('name')?.errors?.['minlength']"
        class="invalid-feedback"
      >
        Name must be longer than 3 characteres
      </p>
    </div>
    <!-- Age Group-->
    <div class="form-group">
      <label class="form-label">Age:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Age"
        formControlName="age"
        #txtName
        [ngClass]="formContacto.get('age')?.errors?.['required'] || formContacto.get('age')?.errors?.['pattern']? 'is-invalid':'is-valid'"
      />
      <p
        *ngIf="formContacto.get('age')?.errors?.['required']"
        class="invalid-feedback"
      >
        Age input is required
      </p>
      <p
        *ngIf="formContacto.get('age')?.errors?.['pattern']"
        class="invalid-feedback"
      >
        Age must be numbers
      </p>
    </div>

    <!-- Course Group-->
    <div class="form-group">
      <label class="form-label">Course:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Course"
        formControlName="course"
        #txtCourse
        [ngClass]="formContacto.get('course')?.errors?.['required']  || formContacto.get('course')?.errors?.['minlength']? 'is-invalid':'is-valid'"
      />
      <p
        *ngIf="formContacto.get('course')?.errors?.['required']"
        class="invalid-feedback"
      >
        Course input is required
      </p>
      <p
        *ngIf="formContacto.get('course')?.errors?.['minlength']"
        class="invalid-feedback"
      >
        Course must be longer than 3 characteres
      </p>
    </div>

    <!-- Grade Group-->
    <div class="form-group">
      <label class="form-label">Grade:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Grade"
        formControlName="grade"
        #txtName
        [ngClass]="formContacto.get('grade')?.errors?.['required'] || formContacto.get('grade')?.errors?.['pattern']? 'is-invalid':'is-valid'"
      />
      <p
        *ngIf="formContacto.get('grade')?.errors?.['required']"
        class="invalid-feedback"
      >
        Age input is required
      </p>
      <p
        *ngIf="formContacto.get('grade')?.errors?.['pattern']"
        class="invalid-feedback"
      >
        Age must be numbers
      </p>
    </div>

    <!-- Email Group-->
    <div class="form-group">
      <label class="form-label">Email address</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter email"
        formControlName="email"
        #txtEmail
        [ngClass]="formContacto.get('email')?.errors?.['required']  || formContacto.get('email')?.errors?.['email']? 'is-invalid':'is-valid'"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
      <p
        *ngIf="formContacto.get('email')?.errors?.['required']"
        class="invalid-feedback"
      >
        Email input is required
      </p>
      <p
        *ngIf="formContacto.get('email')?.errors?.['email']"
        class="invalid-feedback"
      >
        It must contain '@' and '.com'
      </p>
    </div>
    <div class="btn__formulario">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formContacto.invalid"
        aria-label="close dialog"
        mat-dialog-close
      >
        Submit
      </button>
      <button
        mat-raised-button
        aria-label="close dialog"
        mat-dialog-close
        class="btn btn-secondary"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
