<div class="container pt-2 container__box">
  <h2>Registrar Nuevo Curso</h2>
  <button
    class="btn__tabla"
    mat-raised-button
    color="accent"
    [routerLink]="'nuevo-curso'"
    (click)="openDialog()"
  >
    Agregar Curso
  </button>
  <h1 class="text-center p-2">Total Cursos</h1>
  <div class="container content__box">
    <table class="table">
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Capacity</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let curso of cursos"
          [ngClass]="curso.id % 2 == 0 ? 'bg-gray' : 'bg-graydark'"
          (click)="userClicked(curso.name)"
        >
          <td [ngStyle]="{ color: 'blue' }">{{ curso.id }}</td>
          <td
            data-toggle="tooltip"
            data-placement="top"
            title="{{ curso.name }}"
          >
            {{ curso.name }}
            <!--{{ alumno.position | fullname }}-->
          </td>
          <td>{{ curso.description }}</td>
          <td>{{ curso.category }}</td>
          <td [ngClass]="curso.capacity > 14 ? 'text-success' : 'text-danger'">
            {{ curso.capacity }}
          </td>
          <td>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="seleccionarCurso(curso)"
              (click)="openDialog()"
              >edit</mat-icon
            >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="eliminarCurso(curso.id)"
              >delete</mat-icon
            >

            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="muestraCurso(curso)"
              >info</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="pt-4">Contact us for more information.</p>
  <p>Date: {{ fecha | date: "dd/MM/YYYY" }}</p>
</div>
