/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container__box {
  width: 80%;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
