<div class="container pt-2 container__box">
  <div class="content-center">
    <h1 class="text-center font-weight-bold">
      {{ title }}
    </h1>
    <form [formGroup]="formCurso" (ngSubmit)="addCurso(this.formCurso.value)">
      <!-- Title Group-->
      <div class="form-group">
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Course Title</mat-label>
            <input
              matInput
              value=""
              #txtName
              formControlName="name"
              [ngClass]="formCurso.get('name')?.errors?.['required']  || formCurso.get('name')?.errors?.['minlength']? 'is-invalid':'is-valid'"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input
              matInput
              value=""
              #txtName
              formControlName="description"
              [ngClass]="formCurso.get('description')?.errors?.['required']  || formCurso.get('description')?.errors?.['minlength']? 'is-invalid':'is-valid'"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Category</mat-label>
            <input
              matInput
              value=""
              #txtName
              formControlName="category"
              [ngClass]="formCurso.get('category')?.errors?.['required']  || formCurso.get('category')?.errors?.['minlength']? 'is-invalid':'is-valid'"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Capacity</mat-label>
            <input
              matInput
              value=""
              #txtName
              formControlName="capacity"
              [ngClass]="formCurso.get('capacity')?.errors?.['required']  || formCurso.get('capacity')?.errors?.['minlength']? 'is-invalid':'is-valid'"
            />
          </mat-form-field>
        </p>

        <br />
      </div>
      <div class="btn__formulario">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formCurso.invalid"
          aria-label="close dialog"
          mat-dialog-close
        >
          Submit
        </button>
        <button
          mat-raised-button
          aria-label="close dialog"
          mat-dialog-close
          class="btn btn-secondary"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
